{% extends 'base.html.twig' %}

{% block title %}Les points d'intérêt{% endblock %}

{% block body %}
<div class="container poi">
    <h1>Ajouter un point d'intérêt</h1>

    {% for msg in app.session.flashBag.get('success') %}
    <div class="success-message">
        {{msg}}
    </div>
    {% endfor %}

    {{ form(stageForm) }}

    <div class="list">
        <h2>Liste des points d'intérêt</h2>

        <ul>
            {% for stage in stages %}
            <li>
                <a href="#">
                    <p>{{ stage.title }}</p>
                    <img src="{{ asset('images/edit.svg') }}" alt="Modifier">
                </a>
                <a href="#" class="delete">
                    <button><img src="{{asset('images/delete.svg')}}" alt="Supprimer"></button>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}